<div id="<%= dom_id eligable_days_parts %>">
  <p>
    <strong>Year:</strong>
    <%= eligable_days_parts.year %>
  </p>

  <p>
    <strong>Days per week:</strong>
    <%= eligable_days_parts.days_per_week %>
  </p>

  <p>
    <strong>Public holidays:</strong>
    <%= eligable_days_parts.public_holidays %>
  </p>

  <p>
    <strong>Unpaid leave:</strong>
    <%= eligable_days_parts.unpaid_leave %>
  </p>

  <p>
    <strong>Sick days:</strong>
    <%= eligable_days_parts.sick_days %>
  </p>

</div>
